{% extends 'base.html' %}

{% block content %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    <form action="/form" method="post">
        <input type="text" name="firstname" placeholder="Введите имя">
        <input type="submit" value="Submit">
    </form>

{%  endblock %}
